@import url("fonts/iosevka.css");

@import url("style/variables.css");
@import url("style/window.css");

* {
    font-family: "Iosevka", "sans-serif";
}

body {
    background: var(--body-bg-color);
    color: var(--default-fg-color);

    display: flex;
    flex-direction: column;
}

div {
    display: inherit;
    flex-direction: column;
}

a {
    color: var(--link);

    text-decoration-line: none;
}

a:hover {
    color: var(--link-hover);
}


a:visited {
    color: var(--link-visited);
}

a:hover:visited {
    color: var(--link-hover);
}

.top-windows {
    flex-direction: row;

    gap: var(--gap);
}

.intro-window {
    width: max-content;

    flex: 3;

    align-self: start;
}

.flag-windows {
    display: none;

    max-width: 350px;

    flex: 1;
    flex-direction: column;

    gap: var(--gap);
}

@media only screen and (min-width: 750px) {
    .flag-windows {
        display: inherit;
    }
}

.flag-window>.window-content {
    margin: var(--gap);
}

@property --title-gradient-mix-1 {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --title-gradient-mix-2 {
    syntax: '<percentage>';
    initial-value: 100%;
    inherits: false;
}

@keyframes title-gradient {
    0% {
        --title-gradient-mix-1: 0%;
        --title-gradient-mix-2: 100%;
    }

    50% {
        --title-gradient-mix-1: 100%;
        --title-gradient-mix-2: 0%;
    }

    100% {
        --title-gradient-mix-1: 0%;
        --title-gradient-mix-2: 100%;
    }
}

.title {
    animation: title-gradient 6s infinite ease-in;

    --gradient-1: color-mix(in hsl, var(--yellow) var(--title-gradient-mix-1), var(--purple) var(--title-gradient-mix-2));
    --gradient-2: color-mix(in hsl, var(--yellow) var(--title-gradient-mix-2), var(--purple) var(--title-gradient-mix-1));

    background: linear-gradient(45deg, var(--gradient-1), var(--gradient-2));

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.title>p {
    font-size: max(30pt, 5vw);
    font-weight: 900;

    margin-top: 20px;
    margin-bottom: 10px;
}
