:root {
    --purple: #9C59D1;
    --yellow: #FCF434;
    --gray: #2C2C2C;
    --white: #FFFFFF;
}

body {
    margin: 8px;
    background: rgb(from var(--gray) calc(r / 2) calc(g / 2) calc(b / 2));
}

img {
    width: 100%;
    height: 100%;
}

p {
    color: white;
}

.header-bar {
    width: 100%;
    height: 40px;

    margin-top: 8px;

    border-radius: 5px;

    background: rgb(from var(--purple) r g b / 0.5);
}

.header-bar-items {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    padding: 5px;

    flex-direction: row-reverse;
    display: flex;
}


.header-bar-items>div {
    aspect-ratio: 1;

}
