@import url("style/variables.css");

.window {
    flex-direction: column;
    border: 3px solid var(--black);
    background: var(--gray);
}

.window-decoration {
    color: var(--window-decorator-text-color);
    background: rgb(from var(--purple) calc(r * 0.5) calc(g * 0.5) calc(b * 0.5));

    width: 100%;
    height: var(--window-decorator-height);

    border-bottom: 3px solid var(--black);

    flex-direction: row;
}

.window-decoration>* {
    height: 100%;

    flex-direction: row;
    align-items: center;
}

.window-tools {
    flex: 1;
    flex-direction: column;

    align-self: start;
    align-items: start;

    margin-left: 5px;

    gap: 5px;
}

.window-tools .window-tools-entry {
    height: 100%;
}

.window-tools .window-tools-entry .window-tool-title {
    text-decoration: underline;

    height: 100%;

    justify-content: center;
}

.window-tools .window-tools-entry .window-tool-dropdown {
    color: transparent;
    background: var(--white);

    width: 0px;
    height: 0px;
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a {
    color: transparent;
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a,
.window-tools .window-tools-entry .window-tool-dropdown>div>a {
    padding-left: 5px;
    padding-right: 5px;
}

.window-tools .window-tools-entry .window-tool-dropdown>div:focus-within,
.window-tools .window-tools-entry .window-tool-dropdown>div:hover {
    background: var(--gray);
    color: var(--white);
}

.window-tools .window-tools-entry:focus-within .window-tool-dropdown>div>a,
.window-tools .window-tools-entry:hover .window-tool-dropdown>div>a {
    color: var(--black);

    text-decoration: none;
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a:focus,
.window-tools .window-tools-entry .window-tool-dropdown>div>a:hover {
    color: var(--white);
}

.window-tools .window-tools-entry:hover .window-tool-dropdown,
.window-tools .window-tools-entry:focus-within .window-tool-dropdown {
    visibility: visible;

    color: var(--black);

    text-decoration: none;

    width: auto;
    height: auto;

    display: inline;
    position: absolute;

    margin-top: var(--window-decorator-height);
}

.window-decoration .window-title {
    width: 30%;

    flex-direction: column;

    align-content: center;
    justify-content: center;
}

.window-decoration .window-buttons {
    flex: 1;

    justify-content: end;
    margin-right: 5px;
}

.window-content {
    font-size: 15pt;

    margin-left: 10px;
    margin-right: 10px;
}
