@import url("style/variables.css");

.window {
    flex-direction: column;
    border: var(--window-border-thickness) solid var(--window-border-color);
    background: var(--gray);
}

.window-decoration {
    color: var(--window-decorator-fg-color);
    background: var(--window-decorator-bg-color);

    width: 100%;
    height: var(--window-decorator-height);

    border-bottom: var(--window-border-thickness) solid var(--window-border-color);

    flex-direction: row;
}

.window-decoration>* {
    height: 100%;

    flex-direction: row;
    align-items: center;
}

.window-tools {
    flex: 1;
    flex-direction: column;

    align-self: start;
    align-items: start;

    margin-left: var(--gap);

    gap: var(--gap);
}

.window-tools .window-tools-entry {
    height: 100%;
}

.window-tools .window-tools-entry .window-tool-title {
    text-decoration: underline;

    height: 100%;

    justify-content: center;
}

.window-tools .window-tools-entry .window-tool-dropdown {
    color: transparent;
    background: var(--window-decorator-dropdown-bg-color);

    width: 0px;
    height: 0px;
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a {
    color: transparent;
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a,
.window-tools .window-tools-entry .window-tool-dropdown>div>a {
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.window-tools .window-tools-entry .window-tool-dropdown>div:focus-within,
.window-tools .window-tools-entry .window-tool-dropdown>div:hover {
    background: var(--window-decorator-dropdown-bg-highlight);
    color: var(--window-decorator-dropdown-fg-highlight);
}

.window-tools .window-tools-entry:focus-within .window-tool-dropdown>div>a,
.window-tools .window-tools-entry:hover .window-tool-dropdown>div>a {
    color: var(--black);

    color: var(--window-decorator-dropdown-fg-color);
}

.window-tools .window-tools-entry .window-tool-dropdown>div>a:focus,
.window-tools .window-tools-entry .window-tool-dropdown>div>a:hover {
    color: var(--window-decorator-dropdown-fg-highlight);
}

.window-tools .window-tools-entry:hover .window-tool-dropdown,
.window-tools .window-tools-entry:focus-within .window-tool-dropdown {
    visibility: visible;

    color: var(--black);

    text-decoration: none;

    width: auto;
    height: auto;

    display: inline;
    position: absolute;

    margin-top: var(--window-decorator-height);
}

.window-decoration .window-title {
    width: 30%;

    flex-direction: column;

    align-content: center;
    justify-content: center;
}

.window-decoration .window-buttons {
    flex: 1;

    justify-content: end;
    margin-right: var(--gap);
}

.window-content {
    font-size: 15pt;

    margin-left: calc(var(--gap) * 2);
    margin-right: calc(var(--gap) * 2);
}
