@font-face {
    font-family: "Iosevka Bold";
    src:
        local("Iosevka NF Bold"),
        local("Iosevka Bold"),
        url("iosevka/Iosevka-Bold.ttc");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka ExtraBold";
    src:
        local("Iosevka NF ExtraBold"),
        local("Iosevka ExtraBold"),
        url("iosevka/Iosevka-ExtraBold.ttc");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka";
    src:
        local("Iosevka NF"),
        local("Iosevka"),
        url("iosevka/Iosevka-Regular.ttc");
    font-weight: normal;
    font-style: normal;
}
